{% extends "layout.html" %}

{% block title %}
    Search for a Symbol's Info
{% endblock %}

{% block main %}
    <form action="/quote" method="post"> 
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol of Stock..." type="text">
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
{% endblock %}

