{% extends 'layout.html' %}

{% block title %}
    Sell a Stock
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol of Stock to Sell" type="text">
        </div>
        <div class="mb-3">
            <input autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Number of Shares to Sell" type="number">
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="submit">Purchase</button>
        </div>
    </form>
{% endblock %}